<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001136332494-0ihh81ahdkd4a275nofdh40u3bjqicck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001136332494-0ihh81ahdkd4a275nofdh40u3bjqicck</string>
	<key>API_KEY</key>
	<string>AIzaSyD2TuAvbSHxfj8yRd2NS-zR9m3kGICM2T8</string>
	<key>GCM_SENDER_ID</key>
	<string>1001136332494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.go.dwr.ews4thai</string>
	<key>PROJECT_ID</key>
	<string>salivehacker</string>
	<key>STORAGE_BUCKET</key>
	<string>salivehacker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001136332494:ios:4c1be8473b328c27e6fa9f</string>
	<key>DATABASE_URL</key>
	<string>https://salivehacker.firebaseio.com</string>
</dict>
</plist>